<!DOCTYPE html>
<html>
<head>
  <title>Benchbnb</title>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAA61OBfUX99eFZOZGJEScRInMIecJpSp4" type="text/javascript">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
